<div class="col-10 offset-1 about">
  <h1>About This</h1>

  <p>
    This app was built by <a target="_blank" href="https://github.com/villamichael12">Michael Villa</a>. His goal is to absorb as much information as possible from this class and use it in the real world to build great things!
  </p>
  <br />
  <p>
    In the past he worked in many fields. Some include sales, customer service and cleaning. Though he lacks experience in the coding world his unparralled drive will keep him pushing to succeed. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Michael Villa</h2>
      <br />
      <p>
        Michael Villa is a full time employee at Ring (who is owned by Amazon) with the current title of team lead. His background is not extensive but does include sales job where he lead the sales force for 6 months and managed over 500 residential accounts. As a college dropout, this second time around, Michael is fully driven to prove that he can succeed. 
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />

</div>