@font-face {
    font-family: 'webfontregular';
    src: font_url('introheadr-base-webfont-webfont.woff2') format('woff2'),
         font_url('introheadr-base-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}